<!DOCTYPE html>
<html>
<head>
  <title>The Tech Talent South Family</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poly' rel='stylesheet' type='text/css'>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43762596-1', 'techtalentsouth.com');
      ga('send', 'pageview');

  </script>
</head>
<body>

<!-- Navigation Bar -->
    <nav>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="http://techtalentsouth.com">Tech Talent South</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="http://techtalentsouth.com/#code-immersion-program">Code Immersion Program</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Additional Courses <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="http://techtalentsouth.com/pop-up-code.html">Pop Up Code Program</a></li>
                      <li class="divider"></li>
                      <li><a href="http://techtalentsouth.com/graduate-program.html">The Graduate Program</a></li>
                      <li class="divider"></li>
                      <li><a href="http://techtalentsouth.com/web-design-and-creation.html">Intro To Web Design & Creation</a></li>
                      <li class="divider"></li>
                      <li><a href="http://techtalentsouth.com/programming-for-business-people.html">Intro to Programming for Business People</a></li>
                      <li class="divider"></li>
                      <li><a href="http://techtalentsouth.com/sharepoint-101.html">Sharepoint 101</a></li>
                      <li class="divider"></li>
                      <li><a href="http://techtalentsouth.com/online-marketing-bootcamp.html">Online Marketing Bootcamp</a></li>
                      <li class="divider"></li>
                      <li><a href="http://techtalentsouth.com/intro-to-game-development.html">Game Development Class</a></li> 
                      <li class="divider"></li>
                      <li><a href="http://techtalentsouth.com/youth-code-camps.html">Youth Camps</a></li>
                    </ul>
                  </li>
                <li><a href="http://techtalentsouth.com/about.html">About</a></li>
                <li><a href="http://techtalentsouth.com/faq.html">FAQ</a></li>
                <li><a href="http://techtalentsouth.com/locations.html">Locations</a></li>
                <li><a href="http://techtalentsouthgraduates.com/">Alumni</a></li>
                <li><a href="http://family.techtalentsouth.com/">TTS Family</a></li>
                <li><a href="http://techtalentsouth.com/student-blog/">Student Blog</a></li>
                <li><a href="http://techtalentsouth.com/contact.html">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    </nav>



<%= yield %>

<section id="contact">
</section>
<div id="footerwrap">
<div class="container"><br />
<h2>CONTACT</h2>
<div class="row">
<div class="span3"><img alt="" src="http://techtalentsouth.com/assets/img/logo_small.png" />
<h3>We're chatter boxes, so contact at your own risk.</h3>
<h4>info@techtalentsouth.com</h4>
<h4>Atlanta, GA</h4>
<h4>(404) 491-9887</h4>
</div>
<!-- span4 -->
<div class="span3">
  <a href="https://twitter.com/TechTalentSouth"><img alt="Tech Talent South Twitter" src="http://techtalentsouth.com/assets/img/twitter.png" width="40px" /></a> 
  <a href="http://techtalentsouth.tumblr.com/"><img alt="Scope out our blog." src="http://techtalentsouth.com/assets/img/tumblr.png" width="40px" /></a> 
  <a href="http://www.facebook.com/techtalentsouth/"><img alt="Fan our Facebook." src="http://techtalentsouth.com/assets/img/facebook.png" width="40px" /></a>
  <a href="https://plus.google.com/117842822918795812483" rel="publisher"><img alt="Follow us on Google+" src="http://techtalentsouth.com/assets/img/googleplus.png" width="40px" /></a>
  <a href="http://www.youtube.com/user/TechTalentSouth"><img alt="Subscribe on YouTube." src="http://techtalentsouth.com/assets/img/youtube.png" width="40px" /></a> 
  <a href="https://www.linkedin.com/company/tech-talent-south/"><img alt="Follow us on LinkedIn" src="http://techtalentsouth.com/assets/img/linkedin.png" width="40px" /></a>

<div id="jstwitter" class="clearfix">
</div>
<h4>@TechTalentSouth</h4>
<p>Think you want to work with us or bring TTS to your city? &nbsp;Sweet. &nbsp;Drop us an email and we'll get back to you in a jiffy.</p>
</div>
<!-- span4 -->
<div class="span3"><img class="img-circle" alt="" src="http://techtalentsouth.com/assets/img/face.jpg" />
<h4>Thanks for checking in!</h4>
<h4>Go buy your hipster glasses and mandatory hoodie, and join us!!</h4>
</div>
<div class="span3"><!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
  <form action="http://techtalentsouth.us7.list-manage1.com/subscribe/post?u=767d9e4d7d69ca3de68104fd1&amp;id=8806041083" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h2>Subscribe to our mailing list</h2>
    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
      </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_767d9e4d7d69ca3de68104fd1_8806041083" value="">
      </div>
    <div class="clear">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
  </form>
</div>

<!--End mc_embed_signup--></div>
</div>
<!-- row --></div>
<!-- container --></div>

</body>
</html>
