<div class="container">
  <h1>The Tech Talent South Family</h1>
  <p>Just like the old saying "It takes a village to raise a child," we belive it takes a community to teach people how to code and immerse them in the world of tech. Below is a handful of people that have been involved with Tech Talent South along the way, from studetns, to staff, to guest lecturers, we consider them all family!</p>

  <div class="row-fluid"> 
    <div id="ri-grid" class="ri-grid ri-grid-size-1 ri-shadow">
      <%= image_tag "loading.gif", class: "ri-loading-image" %>
        <ul>
          <% @members.each do |member| %>
            <li>
              <a href="#">
                <img src="<%= member.image_url %>">
              </a>
            </li>
          <% end %>
    </ul>
    </div>

    <br><br><br><br><br>

  </div>
</div>

<%= javascript_include_tag "gridrotator" %>
    <script type="text/javascript"> 
      $(function() {
      
        $( '#ri-grid' ).gridrotator( {
          w320 : {
            rows : 3,
            columns : 4
          },
          w240 : {
            rows : 3,
            columns : 3
          }
        } );
      
      });
    </script>

